/* //////Imported Google Fonts ////// */


@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
/* * {
  font-family: sans-serif;
  border: .5px solid gold;
} */

/* ///// Main Body of Content ////// */

body {
  /* display: flex; */
  /* flex-direction: column; */
  background: url(https://i.imgur.com/4y0NMBT.jpg);
  /* height: 200px; */
  /* background-position: center; */
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

/* /////// Modal//////// */


#modal {
  /* background-color: rgba (0,0,0,0.4); */
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 1000px;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-textbox {
  background-color: white;
  /* height: 500px;
  width: 500px; */
  border-radius: 2em;
  /* margin: 150em auto; */
  box-shadow: 0 2em 2em rgba(0,0,0,0.2);
  padding: 1%;
  line-height: 40px;
}

#modal-textbox p {
  color: blue;
  font-size: 30px;
  line-height: normal;
  font-family: "Padauk", serif;

}

#modal-footer {
  padding: 2%;
  line-height: 120%;
  text-align: center;
}

h1 {
  /* padding-bottom: 25em; */
}

.modal-buttons {
  /* padding: 14em 18em; */
  background-color: #677996;
  border: none;
  outline: none;
  border-radius: 3em;
  color: white; 
  font-family: "Sansita Swashed", serif;
  cursor: pointer;

}

/* style the css so that the images fall into a grid like flowerbox or the grid example */
/* ///////jQuery form //// */
.welcome {

}

h2{
  font-family: "Padauk", sans-serif;
  font-size: 35px;
  text-shadow: 1px 1px 2px #d167db;
  padding-bottom: 10px;
}

form {

}


/* ///////// Weather ////////// */
.weathercontainer {
  display: flex;
  flex-wrap: nowrap;
}

h3 {
  text-align: center;
  font-family: "Padauk", sans-serif;
  font-size: 25px;
  text-shadow: 1px 1px 2px #d167db;
  padding-bottom: 10px;
}


.weatherstats dl {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Padauk", sans-serif;
  color: #d167db;
  font-weight: bolder;
  display: inline-flex;
  flex-direction: row;
}

.weatherstats dt {
  padding: 0 10px;
}

.weatherstats dd {
  padding: 0 10px;
  margin-left: -10px;
}

/* ////////////// Images ////////// */
article {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}

section {
  width: 43%;
  display: block;
}

.parisnycimages {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.caption {
  width: 100%;
}

h4 {
  color: #ce67db;
  font-weight: bolder;
  display: block;
}

/* ////////// Forms /////////*/

.fieldset {
  width: 100%;
  background-color: #c7f5ff;
  font-family: "Padauk", sans-serif;
}

textarea, select, input {
  width: 100%;
}



p {
  color: #61b04d;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
/* more with this fieldset /// */


/* /////Footer /////////// */
.footersection {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffefc7;
  flex-direction: row;
}

.footersection>img {
  max-with: 100px;
  max height: 100px;
  display: flex;
}

.madewithlove{
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-family: "Sansita Swashed", serif;
  background-color: #ffc7c7;

}

h5 {
  color: white;
  font-weight: bolder;
}

/* /////////Media Queries//////// */
@media screen and (max-width: 450px) {
  .parisnycimages {
    margin: auto;
    width: 450px;
  }
}
